body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns:auto auto auto auto;
    background-color:#2F3C7E;
    width: 960px;
    height: 1500px;
    padding: 10px;
    margin-bottom: 20px;
  
}

.grid-element{
    border: #2F3C7E solid 2px;
    background-color: #FBEAEB;
    text-align: center;
    padding: 20px;
}

.header{
    color: #2F3C7E;
}

.create-new-grid{
    background-color: #2F3C7E;
    color:#FBEAEB;
    border: #2F3C7E solid 2px;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
}
